:root {
    --theme_color: rgb(237, 44, 163);
    --back_color: rgb(25, 18, 18);

  }

#main_container{
    background-image: url('./images/pet_main_image_2.jpeg');
    width: 100%;
    height: 100vh;
    background-repeat: round;
}

#pet_logo{
    width: 5vw;
    mix-blend-mode: multiply;
}

#logo_heading{
    color: var(--theme_color) ;
    margin-right: 140px;
    font-family:fantasy;
}
#logo_heading span{
    color: blue;
}
.nav_item{
    margin: 0rem 1rem;
}

#line_on_image{
    font-family: cursive;
    font-size: 50px;
    color: blue;
    margin:3% 10%;
    /* display: inline-block; */
}

#appointment_btn{
    background-color:rgb(81, 33, 162);
    padding: .6%;
    color: white;
    border: none;
    border-bottom: 4px solid blue;
    margin-left: 11% ;
    border-radius: 20px;
}


/*     designing the cards section     */

#card_container{
    display: flex;
    justify-content: center;
    background-color: var(--back_color);
}

.card{
    background-color: rgb(61, 59, 59);
    color: white;
}

.card:hover{
    background-color: black;
    color: cyan;
}

.card:hover>.card-body>a{
    background-color: black;
    color: rgb(216, 155, 159);
}


/*    styling the about section       */

#about_section{
    background-color: var(--back_color);
    padding: 1rem;
}

#about_container{
    padding: 1rem;
    margin: 0px 20px;
    background-color: black; 
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

#about_writting_div{
    display: inline-block;
    text-align: center;
}

#about_image{
    position: relative;
    height: 400px;
    border-radius: 30px; 
}
#about_writting_div h1{
    color: greenyellow;
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 100px;
}

#about_writting_div p{
    color: white;
    font-family: cursive;
}

/*       styling contact section         */

#contact_section{
    background-color: var(--back_color);
    text-align: center;
    padding: 1rem;
}
#contact_section h1{
    color: greenyellow ;
    font-family: cursive;
}

#main_contact_container{
    background-color: black;    
    border-radius: 10px;
    padding: 20px;
}

#contact_all_details{
    display: flex;
    justify-content: space-around;
    background-color: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 10px;
}

.my_contact{
    color: greenyellow;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
}

.my_contact i{
    margin-right: 10px;
    font-size: 30px;
}

.my_contact span{
    display: block;
    color: white;
    font-family:'Times New Roman', Times, serif ;
    font-size: 15px;
    padding: 10px;
}

.contact_input{
    display: block;
    width: 18rem;
    background-color: rgb(56, 50, 50);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}

#contact_button{
    background-color: greenyellow;
    border: none;
    border-radius: 30px;
    color: rgb(19, 3, 3);
    padding: 0px 10px;
}