*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: block;
}
.hero{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.hero img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: zoom-in 4s linear infinite;

}
@keyframes zoom-in {
    100%{
        width: 110%;
    }
    
}
.content{
    width: 45%;
    position: absolute;
    top: 200px;
    left: 50px;
    transform: translateY(100px);
    animation: textup 3s linear infinite;


}
@keyframes textup {
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.content h2{
    color: black;
    font-weight: 100;
    margin-bottom: 20px;

}
.content h1{
    color: black;
    font-size: 50px;
    margin: 10px auto;

}
.content h3{
    color: black;
    font-weight: 100;
    margin: 20px auto 80px;
}

.sec{
    position: relative;
    top: 100vh;
    width: 100%;
    height: 800px;
    display: inline-block;

    
    font-size: 50px;
    justify-content:center
    font-family : 'Dosis', sans-serif;
}
.font{
    color: white;}
    .sec img{
        
        
        height: 400px;
        width: 488px;
        position: relative;
        top: 12px;
        left: 10px;
    }
    .sec img:hover{
        background-color: rgb(55, 55, 88);
    }
    #sug{
        margin-top: 3px;
    }
    #sugdiv{
        margin-top: 3px;
    }
     #eme{
    
    } 
    hr{
        display: inline block;
    }

body{
    background-image: url(background.jpg);
    background-size: cover;
    

}